<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseOne"
        aria-expanded="true"
        aria-controls="collapseOne"
      >
        A FAZER
      </button>
    </h2>
    <div
      id="collapseOne"
      class="accordion-collapse collapse show"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
        <table class="table">
          <thead>
            <tr></tr>
          </thead>
          <tbody>
            <tr *ngFor="let task of tasksAExecutar">
              <td class="d-flex align-items-center">
                <input
                  type="checkbox"
                  class="form-check-input me-2"
                  (change)="markCompleted(task)"
                />
                {{ task.descricao }}
              </td>
              <td style="text-align: right">
                <div>
                  <button
                    class="btn-acoes-to-do"
                    data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop"
                    (click)="editTask(task)"
                  >
                    <fa-icon [icon]="faPencil"></fa-icon>
                  </button>
                  <button
                    class="btn-acoes-to-do"
                    (click)="openModalDelete(task.id)"
                    data-bs-toggle="modal"
                    data-bs-target="#excluirTarefa"
                  >
                    <fa-icon [icon]="faTrash"></fa-icon>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseTwo"
        aria-expanded="false"
        aria-controls="collapseTwo"
      >
        CONCLUÍDAS
      </button>
    </h2>
    <div
      id="collapseTwo"
      class="accordion-collapse collapse"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
        <table class="table">
          <thead>
            <tr></tr>
          </thead>
          <tbody>
            <tr *ngFor="let task of tasksConcluidas">
              <td
                class="d-flex align-items-center"
                [ngClass]="{ completed: task.concluida }"
              >
                {{ task.descricao }}
              </td>
              <td style="text-align: right">
                <div>
                  <button class="btn-acoes-to-do" (click)="openModalDelete(task.id)">
                    <fa-icon [icon]="faTrash"></fa-icon>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Modal Editar-->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Editar tarefa</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formEditTask" (ngSubmit)="onSubmitForm()">
          <div class="mb-3">
            <input
              type="text"
              class="form-control"
              id="exampleFormControlInput1"
              formControlName="editDescriptionTask"
              placeholder="Digite uma nova tarefa..."
            />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Fechar
            </button>
            <button
              type="button"
              class="btn btn-primary"
              (click)="onSubmitForm()"
            >
              Salvar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal Excluir-->
<div
  class="modal fade"
  id="excluirTarefa"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="excluirTarefaLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">
          Excluir tarefa
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>Tem certeza que deseja excluir esta tarefa?</p>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="deleteTask()">Sim</button>
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Não
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
