.bg-emix{
    background-color: #006A6A;
}

.bs-light{
    color: #FFF;
    font-size: 32px;
}

aside{
    background-color: #F5F5F5;
}

.text-button-add{
    color: #FFF;
    width: 186px;
    background-color: #45B1D0;
    font-weight: 700;
}

.input-group{
    height: 50px;
}